<% provide(:title, "Home") %>

<div class="center jumbotron">
    <h1>Peachy</h1>

    <h2>This is the Peachy home page</h2>

    <%= link_to "Send a file", '#', class: "btn btn-lg btn-primary" %> 
    <%= link_to "Receive a file", '#', class: "btn btn-lg btn-primary" %> 
</div>